@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A192F;
  color: #CCD6F6;
  font-family: 'Inter', sans-serif;
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
  body { background: white !important; color: black !important; }
  .print-card { border: 2px solid black !important; box-shadow: none !important; margin: 0 !important; }
}
.print-only { display: none; }
